.title-edit,
.title-delete,
.title-detalle{
    position: relative;
}

.title-edit:hover::before,
.title-delete:hover::before,
.title-detalle:hover::before{
    content: '';
    background-color: #202124f3;
    color: #fff;
    position: absolute;
    bottom: -2.3rem;
    border-radius: 3px;
    padding: .5rem .6rem;
    left: -.8rem;
    font-size: .88rem;
    font-weight: 400;
    letter-spacing: .5px;
    z-index: 9;
    width: 4rem;
    pointer-events: none;
}
tbody tr:last-child td button.title-edit:hover::before,
tbody tr:last-child td button.title-delete:hover::before,
tbody tr:last-child td button.title-detalle:hover::before{
    bottom: 2.9rem;
}

.title-edit:hover::before{
    content: 'Editar';
}

.title-detalle:hover::before{
    content: 'Ver detalle';
    width: 7rem;
    left: -2.3rem;
}

.title-delete:hover::before{
    content: 'Eliminar';
    width: 5rem;
    left: -1.3rem;
}

.title-edit:hover::after,
.title-delete:hover::after,
.title-detalle:hover::after{
    content: '';
    position: absolute;
    left: calc(50% - .5rem);
    right: 50%;
    bottom: -.5rem;
    width: 0;
    height: 0;
    border-right: .5rem solid transparent;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid #202124;
}

tbody tr:last-child td button.title-edit:hover::after,
tbody tr:last-child td button.title-delete:hover::after,
tbody tr:last-child td button.title-detalle:hover::after{
    transform: rotate(180deg);
    bottom: 1.9rem;
}

.table th, .table td {
    padding: 0.5rem 0.625rem;
    font-size: 13.5px;
    color: #000000de;
}
.table thead tr th{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 500;
    font-size: 12px;
    color: #0000008a;
}
.table-responsive{
    overflow-y: hidden;
}
.table-shadow{
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.content-header-title{
    font-family: 'Barlow Condensed', sans-serif;
}

.table-dark{
    --bs-table-bg: #202124;
}
.text-wprimary{
    color: #26a69a;
}

.m-title{
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    color: #202124da;
}

/** Box shadow **/

.box-shadow{
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
    border: none !important;
}

/** Foto && preview **/

.tab-foto{
    width: 35px;
    height: 35px;
}
.image-preview{
    width: 160px;
    height: 160px;
    pointer-events: none;
}
.no-image{
    border: 1px dashed #bbb;
    background-color: #f2f6fa;
    width: 160px;
    height: 160px;
    flex-shrink: 1;
}

.btn-file{
    width: 119px;
    overflow: hidden;
    position: relative;
}
.btn-file > input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

/* inputs */

.form-control,
.form-select{
    border-color: rgba(0,0,0,.42);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: unset;
    box-shadow: unset;
}
.form-control:focus{
    box-shadow: none;
}
.form-control,
.form-select,
.form-control:focus{    
    color: #27282cf3;
}

.input-group-text{
    border: none;
    border-radius: unset;
}
.form-password-toggle > .input-group-text{
    border-bottom: 1px solid rgba(0,0,0,.42);
}

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus,
.was-validated .form-select:invalid:focus, .form-select.is-invalid:focus {
    box-shadow: none;
}

.img-fluid {
    max-width: 190px;
    max-height: 190px;
}
.item-wrapper > div > div{
    margin: .2rem 0;
}

.label,._label{
    color: #1c1d1f;
    position: relative;
}
.label::after{
    content: '*';
    color: var(--bs-danger);
    position: absolute;
    right: -8px;
    top: 0;
    font-weight: 500;
}

/** Loading **/

.rotate{
    animation: rotation 2s infinite linear;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
}
.rotate i{
    color: var(--primary);
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
.portada{
    width: 40%;
    height: 100%;
}